<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="wrapper">
      <div class="one">
        one  
      </div>
      <div class="two">
          <h1>What's new?</h1>
          <form action="/create-post" method="POST">
            <div class="form-control">
              <label for="content">What's on your mind?</label>
              <input type="text" name="content" id="content">
            </div>
            <button type="submit">Share!</button>
          </form>
          <% posts.forEach(p=> { %>
            <p><%= p.content %></p>
          <% }) %>
      </div>
      <div class="three">
        <section>
          
          <% users.forEach(user => { %>
            
            <div class="user-suggestion">
              <a href="/profile/<%= user._id%>">
                <img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" alt="profilepic">  
                <%= user.email %>
              </a>
              <form action="/follow/<%= user._id %>" method="POST">
                <button type="submit">Follow</button>
              </form>
              
            </div>
            
          
          <% }) %>
        </section>
      </div>
      <div class="four">Four</div>
      <div class="five">Five</div>
      <div class="six">Six</div>
    </div>

  
  
  
<%- include('../includes/end.ejs') %>