<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class="homepage-wrapper">
      <div class="who-to-follow">
        <h1>Who to follow!</h1>
        <% users.forEach(user => { %>
          <div class="follow-user"> 
            <img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" alt="">
            <div>
              <p><%= user.name %></p>
              <form class="text-center" action="/follow/<%= user._id %>"  method="POST">
                <button  class="follow-button" type="submit">Follow</button>
              </form>
            </div>
            <div>
              <p class="followers">Followers <%= user.followers.length %></p>
              <p class="following">Following <%= user.following.length %></p>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="post-list">

        <div class="form">
          <form action="/create-post" method="POST">
            <div class="form-group text-center">
              <label for="content">What's on your mind?</label>
              <input class="form-control post-input" type="text" name="content" id="content">
              <button class="btn btn-success" type="submit">Share!</button>
            </div>
          </form>
        </div>
          <% posts.forEach(p=> { %>
            <div class="post">
              <div class="image">
                  <img  class="profile-pic" src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" alt="profilepic">  
                  <p> <%= p.userId.name %></p>
              </div> 
              <div class="post-items">
                <div class="post-content"><%= p.content %></div>
                <div class="post-details">  
                  <form action="/edit-post">
                    <button class="edit-button" type="submit">Edit post</button>
                  </form>
                  <form action="/delete-post" method="POST">
                    <input type="hidden" name="postId" id="postId" value="<%= p._id %>">
                    <button class="delete-button" type="submit">Delete post</button>
                  </form>
                  
                </div>
              </div>
            </div>
            <!-- <%= p.getLikes() %> -->
          <% }) %>
      </div><!-- END OF POST LIST -->
      <div class="hashtags">
        <h1>Trending hashtags</h1>
        <ul class="hashtag-list">
          <li class="hashtag">
            <a href="#">#rails</a>
            <div><p>456 posts</p></div>
          </li>
          <li class="hashtag">
            <a href="#">#node.js</a>  
            <div><p>456 posts</p></div>
          </li>
          <li class="hashtag">
            <a href="#">#javascript</a>
            <div><p>456 posts</p></div>
          </li>
          <li class="hashtag">
            <a href="#">#react.js</a>
            <div><p>456 posts</p></div>
          </li>
          <li class="hashtag">
            <a href="#">#mongoose</a>
            <div><p>456 posts</p></div>
          </li>
          <li class="hashtag">
            <a href="#">#ruby</a>
            <div><p>456 posts</p></div>
          </li>
        </ul>
        <div>
          
        </div>
      </div>
    </div>
  </main>
  
  <!-- <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        <h1>What's new?</h1>
       
          <% posts.forEach(p=> { %>
            <div class="media single-post">
                <img  class="profile-pic" src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" alt="profilepic">  
                <div class="media-body">
                    <span class="font-weight-light text-muted font-italic" >posted by: </span><span class="mt-0"><%= p.userId.email %> </span>
                  <p><%= p.content %>, <%= p.getLikes() %></p>
                  <form action="/like-post" method="POST">
                    <input type="hidden" name="postId" id="postId" value="<%=p._id%>">
                    <button>Like</button>
                  </form>
                  <form action="/dislike-post" method="POST">
                    <input type="hidden" name="postId" id="postId" value="<%=p._id%>">
                    <button>Dislike</button>
                  </form>
                  <% if (p.userId._id.toString() == loggedInUser.toString()) { %>
                    <form action="/delete-post" method="POST">
                      <input type="hidden" name="postId" id="postId" value="<%=p._id%>">
                      <button class="btn btn-danger" type="submit" >Delete post</button> 
                    </form> 
                  <% } %>
                    

                </div>
                
            </div>
          <% }) %>       
      </div>
    <div class="col-sm">
      
        <% users.forEach(user => { %>
          <div class="card">
            <div class="card-header">
              <a href="/profile/<%= user._id%>">
                <img  class="profile-pic" src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" alt="profilepic">  
                <%= user.email %>
              </a>  
            </div>
            <div class="card-body ">
               <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <form class="text-center" action="/follow/<%= user._id %>"  method="POST">
                <button  class="btn btn-success " type="submit">Follow</button>
              </form>
              
            </div>
          </div>
        <% }) %>
      
  </div>  
</div>

    
   -->

  
  
  
<%- include('../includes/end.ejs') %>